@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary :#0a0a0a;
    --color-secondary : #989494;
    --color-text-base : #262525;
    --color-text-unselected : #797777;
    --color-text-hover : #262525;
    --color-bg-primary :  #ededed;
    --color-bg-secondary :  #f7fafb;
    --color-border :  #dce0f3;
    --color-bg-form: #ffffff;
    --color-bg-text-input: #fafafa;
    --color-text-input: #000000;
  }

  * {
    @apply transition-colors duration-500 ease-in-out;
  }
}

.theme-dark {
    --color-primary :#ededed  ;
    --color-secondary : #989494;
    --color-text-base : #ffffff;
    --color-text-unselected : #797777;
    --color-text-hover : #262525;
    --color-bg-primary :  #3c3c3c;
    --color-border :  #323538;
    --color-bg-secondary :  #000000;
    --color-bg-form: #202426;
    --color-bg-text-input: #363636;
    --color-text-input: #ececeb;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-bg-secondary);
}
